.product{
  box-shadow: 1px 1px 13px var(#ddd);
}
.img-wrap{
  overflow: hidden;
  width: 100%;
}
.img-wrap img{
  transition: .7s ease-in-out;
  cursor: pointer;
}
.img-wrap img:hover{
  transform: scale(1.0790);
}
.product h4{
  margin-top:1rem;
}
.product p{
  margin:1rem 0rem;
}
.product p span{
  font-weight: 600;
}
.btn{
  border:none;
  padding: .7rem 1.5rem;
  background-color: var(--orange);
  border-radius: .5rem;
  color:var(--white);
  font-weight: 500;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  opacity: .6;
}