@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* global Style  */
:root {
  --white: #fff;
  --dark: #222222fd;
  --o-dark: #383838;
  --orange: #ff4033;
  --green: #5aff33;
  --red: #ff0000;
  --cayan: #00ffff;
  --main-color: #e02f6b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 0.2rem;
}
::-webkit-scrollbar-track {
  color: var(--white);
}
::-webkit-scrollbar-thumb {
  color: var(--main-color);
}
body {
  background: var(--white);
  color: var(--dark);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.link {
  color: var(--white);
  text-decoration: none;
}
